.news_section {
	section {
		padding: 80px 0px;
	}

	.older-news-section {
		background-color: #edf0f5;
	}

	.most-recent-news,
	.older-news {
		.most-recent-news-image,
		.older-news-image {
			margin-top: 50px;
		}
		.most-recent-news-title,
		.older-news-title {
			h2 {
				color: #89929f;
				font-weight: 400;
				font-size: 30px;
			}
		}
	}

	.most-recent-news-article,
	.older-news-article {
		padding: 30px 0px;

		.title {
			h2 {
				font-size: 1.75rem;
				font-family: $font__secondary;
				color: #6e7a8b;
			}
		}

		.body {
			color: #89929f;
			p {
				margin-top: 0px;
			}
		}

		.source,
		.publish-date {
			font-size: 12px;
			color: #a1a8b3;
		}

		.link {
			margin-top: 20px;
			font-size: 12px;
		}
	}

	// Medium devices (tablets, 768px and up)
	@media (min-width: 768px) {
		.most-recent-news,
		.older-news {
			.most-recent-news-title,
			.older-news-title {
				h2 {
					font-size: 3.25rem;
					line-height: 4.25rem;
				}
			}
		}
	}

	// Large devices (desktops, 992px and up)
	@media (min-width: 992px) {
		// on bigger resolutions, we want the services laid out in a row.

		.most-recent-news,
		.older-news {
			display: flex;
			flex-direction: row-reverse;
			justify-content: flex-end;

			.most-recent-news-image,
			.older-news-image {
				margin-top: 0px;
				max-width: 50%;
			}

			.most-recent-news-title,
			.older-news-title {
				display: flex;
				flex-grow: 1;

				h2 {
					margin-left: 50px;
				}
			}
		}

		.news-articles {
			display: flex;
			flex-wrap: wrap;
			.most-recent-news-article,
			.older-news-article {
				flex-basis: 33%;
				padding-right: 30px;
			}
		}
	}
}
