/**
 * This styling focuses on displaying the WPML menu language switcher in a horizontal format 
* on the off canvas mobile menu
 */
.mobile__nav__switcher {
	position: absolute;
	bottom: 10%;
	display: flex;
	justify-content: center;

	// let it take full wifth of the viewport
	left: 0;
	right: 0;

	.mobile-language-menu {
		display: flex;
		list-style-type: none;
		margin-block-start: 0px;
		margin-block-end: 0px;

		margin-inline-start: 0px;
		margin-inline-end: 0px;

		padding-inline-start: 0px;

		li {
			padding: 20px;

			&.current-menu-item {
				a,
				a:visited {
					color: $color__text-menu-main-hover;
				}
			}

			a {
				color: $color__text-menu-main;
				transition: all 0.3s ease 0s;
				font-size: 1.125rem;

				&:visited {
					color: $color__text-menu-main;
				}

				&:hover {
					color: $color__text-menu-main-hover;
				}
			}

			@include highlight-current-language;
		}
	}
}
