// if we have a WPML language switcher class and it does NOT have an adjascent class
// that defines it as the current language, then we should grey it out so the user can
// visualise the current language.
@mixin highlight-current-language {
	&.wpml-ls-item:not(.wpml-ls-current-language) {
		a,
		a:visited {
			color: #a1a8b3;
		}
	}
}

.main-navigation {
	li,
	a {
		font-family: $font__secondary;
		font-size: 18px;
		color: $color__text-menu-main;
		text-decoration: none;
	}
}

.site-header {
	display: flex;
	align-items: center;
	min-height: 94px;
	background-color: #fff;
	width: 80%;
	max-width: 1920px;
	margin: auto;
}

.logo {
	cursor: pointer;
	max-width: 80%;

	// Medium devices (tablets, 768px and up)
	@media (min-width: 768px) {
		max-width: 100%;
	}
}

nav {
	// we want our languages on the same row
	display: flex;
	margin-left: auto;
}

.nav__links,
.nav__links__language {
	list-style-type: none;
	margin-block-start: 0px;
	margin-block-end: 0px;

	margin-inline-start: 0px;
	margin-inline-end: 0px;

	padding-inline-start: 0px;

	li {
		display: inline-block;
		padding: 0 14px;

		// add a left margin for the first language displayed
		&.wpml-ls-first-item {
			margin-left: 3rem;
		}

		&.current-menu-item {
			a,
			a:visited {
				color: $color__text-menu-main-hover;
			}
		}

		a {
			transition: all 0.3s ease 0s;
			font-size: 0.8rem;

			&:visited {
				color: $color__text-menu-main;
			}

			&:hover {
				color: $color__text-menu-main-hover;
			}
		}

		&.wpml-ls-item {
			padding: 0 2px;
		}

		@include highlight-current-language;
	}
}

/* hamburger */
.mobile__menu {
	display: none;
}

.hamburger {
	position: absolute;
	width: 35px;
	height: 35px;
	top: 20px;
	right: 10%;
	z-index: 5;
	cursor: pointer;

	div {
		position: relative;
		width: 35px;
		height: 3px;
		border-radius: 3px;
		background-color: #002d72;
		margin-top: 10px;
		transition: all 0.3s ease-in-out;
	}
}

#toggle {
	display: none;
}

#toggle:checked + .hamburger .hamburger__top {
	transform: rotate(-45deg);
	margin-top: 17.5px; /* Half the size of the hamburger height */
}

#toggle:checked + .hamburger .hamburger__meat {
	transform: rotate(45deg);
	margin-top: -3px; /* Negative value of hamburger div height*/
}

#toggle:checked + .hamburger .hamburger__bottom {
	transform: scale(0); /* hide it */
}

#toggle:checked + .hamburger + .hamburger__nav {
	top: 0;
}

.hamburger__nav {
	position: fixed;
	z-index: 4;
	width: 100%;
	height: 100%;
	background-color: #ffffff;
	top: -100%;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	transition: all 0.3s ease-in-out;
}

.hamburger__nav .hamburger__nav__wrapper {
	position: relative;
	overflow-y: auto;
	height: 100%;
}

.hamburger__nav__items {
	display: flex;
	flex-direction: column;
	height: 100%;
	align-items: center;
	justify-content: center;

	ul {
		list-style-type: none;
		margin-block-start: 0px;
		margin-block-end: 0px;

		margin-inline-start: 0px;
		margin-inline-end: 0px;

		padding-inline-start: 0px;

		li {
			padding: 10px 0;

			&.current-menu-item {
				a,
				a:visited {
					color: $color__text-menu-main-hover;
				}
			}

			a {
				font-size: 1.3rem;
				display: block;
				text-align: center;
				&:visited {
					color: $color__text-menu-main;
				}

				&:hover {
					color: $color__text-menu-main-hover;
				}
			}

			@include highlight-current-language;
		}
	}
}

ul.hamburger__nav__items__language {
	display: flex;
	flex-direction: row;
	margin-top: 15%;

	li {
		padding: 0px 10px;
	}
}

@media screen and (max-width: 1000px) {
	.mobile__menu {
		display: inherit;
	}
	.nav__links,
	.nav__links__language {
		display: none;
	}
}
