/* START : Hero Image
 * DESCRIPTION : Designing with mobile first in mind! We set the size of fullwidth header
 */
.hero__image {
	// background-image: url('https://unsplash.it/1500?random');
	background-size: cover;
	background-position: center;
	width: 100wh;
	display: flex;
	min-height: 350px;
}

@media only screen and (orientation: landscape) {
	.hero__image {
		min-height: 250px;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.hero__image {
		min-height: 450px;
	}
}
/* END : Hero Image */
