.newsletter_section {
	display: flex;
	flex-direction: column;
	/* 
	
	align-items: center;
	justify-content: center; */

	margin: 128px 0px;

	.illustration {
	}

	.form {
		margin-top: 60px;
		color: #89929f;

		.message {
			text-align: center;
		}

		input {
			width: 100%;
			padding: 8px 12px;
			-webkit-border-radius: 0px;
			border-radius: 0px;
		}

		input[type='button'] {
			padding: 15px 15px;
			background: #ff8f1c;
			color: white;
			text-transform: uppercase;
			border: 0 none;
			cursor: pointer;
			-webkit-border-radius: 0px;
			border-radius: 0px;
			width: 100%;
		}
	}

	// Medium devices (tablets, 768px and up)
	@media (min-width: 768px) {
		flex-direction: row;

		.form {
			margin-top: 0px;
			margin-left: 3rem;
			text-align: left;

			.message {
				text-align: left;
			}

			nf-fields-wrap {
				display: flex;
			}

			input[type='button'] {
				margin-left: 30px;
			}
		}
	}
}
