.newsletter_section {
	background-color: #edf0f5;

	.newsletter_container {
		display: flex;
		flex-direction: column;
		padding: 128px 0px;
		align-items: center;
		.illustration {
			flex-basis: 50%;

			video {
				max-width: 100%;
			}
		}

		.form {
			margin-top: 60px;
			color: #89929f;

			.message {
				text-align: center;
			}

			input {
				width: 100%;
				padding: 8px 12px;
				-webkit-border-radius: 0px;
				border-radius: 0px;
				background-color: #edf0f5;
			}

			// call a mixin to apply general form styling
			@include style-form-buttons;

			/* 			input[type='button'] {
				padding: 15px 15px;
				background: #ff8f1c;
				color: white;
				text-transform: uppercase;
				letter-spacing: 0.1rem;
				border: 0 none;
				cursor: pointer;
				-webkit-border-radius: 0px;
				border-radius: 0px;
				width: 100%;
			} */
		}

		// Medium devices (tablets, 768px and up)
		@media (min-width: 768px) {
			.illustration {
				padding: 0px 10%;
			}

			.nf-form-content {
				padding: 0px;
				margin-top: 20px;
				justify-content: center;

				nf-fields-wrap {
					display: flex;
					justify-content: center;
				}

				input[type='button'] {
					margin-left: 30px;
				}
			}
		}

		// Medium devices (tablets, 992px and up)
		@media (min-width: 992px) {
			flex-direction: row;

			.illustration {
				padding: 0px 0px;
			}

			.form {
				margin-top: 0px;
				margin-left: 3rem;
				text-align: left;

				.message {
					text-align: left;
				}

				.nf-form-content {
					nf-fields-wrap {
						justify-content: flex-start;
					}
				}
			}
		}
	}
}
