.dual_blurb_section {
	.dual_blurb {
		display: flex;
		flex-direction: column;

		.title_section {
			display: flex;
			justify-content: center;
			align-items: center;
			min-height: 300px;
			text-align: center;

			text-transform: uppercase;
			color: #fff;

			// center the background image if it overflows the container.
			background-position: 50%;

			h2 {
				font-size: 1.75rem;

				margin: 0px 20%;
			}
		}

		.body_section {
			display: flex;
			flex-direction: column;
			text-align: center;
			justify-content: center;
			align-items: center;
			min-height: 500px;
			padding: 150px 0px;

			background-color: #edf0f5;

			.subtitle {
				width: 80%;
				color: #6e7a8b;

				h2 {
					font-size: 1.4rem;
				}
			}

			.body {
				width: 80%;
				color: #89929f;
			}
		}

		// Small devices (landscape phones, 576px and up)
		@media (min-width: 576px) {
			.title_section,
			.body_section {
				min-height: 600px;
			}
		}

		// Medium devices (tablets, 768px and up)
		@media (min-width: 768px) {
		}

		// Large devices (desktops, 992px and up)
		@media (min-width: 992px) {
		}

		// Extra large devices (large desktops, 1200px and up)
		@media (min-width: 1200px) {
			flex-direction: row;

			min-height: 700px;

			// change direction of alternate rows.
			&:nth-child(even) {
				flex-direction: row-reverse;
			}

			.title_section {
				flex-basis: 50%;
			}
			.body_section {
				flex-basis: 50%;
				text-align: left;
				padding: 150px 50px;
				h2 {
					font-weight: 400;
				}
			}
		}
	}
}
