.hero_section {
	background-color: #476aa2;

	.wide-container {
		display: flex;
		flex-direction: column;
		color: #ffffff;

		align-items: center;
		justify-content: center;
		padding: 40px 0px 60px 0px;

		.illustration {
			video {
				max-width: 100%;
			}
		}

		.title_and_subtitle {
			text-align: center;
		}

		// Medium devices (tablets, 768px and up)
		@media (min-width: 768px) {
			flex-direction: column;
			padding-top: 70px;
			padding-bottom: 120px;

			.illustration {
			}

			.title_and_subtitle {
				max-width: 100%;
				justify-content: center;

				h1 {
					font-size: 3.1rem;
				}
			}
		}

		// Large devices (desktops, 992px and up)
		@media (min-width: 992px) {
			flex-direction: row-reverse;

			// we want the hero image to have less padding in some instances on desktop
			// this is typically set within the page editor
			// if reduce_padding is set via ACF Pro, we apply the class 'reduce-padding'
			min-height: 0px;
			&.reduce-padding {
				padding: 50px 0px;
			}

			.illustration {
				flex-basis: 50%;
			}
			.title_and_subtitle {
				flex-basis: 50%;
				text-align: left;

				h1 {
					margin: 0px 0px;
					// padding-right: 20%;
				}

				p {
					padding-right: 20%;
					line-height: 30px;
				}
			}
		}
	}
}
