.services_page_services_section {
	display: flex;
	// on mobile, we want a vertical column of services
	flex-direction: column;

	padding: 100px 0px;

	.service {
		display: flex;
		flex-direction: column;
		flex: 1;
		align-items: center;

		color: #6e7a8b;

		.on_hover {
			display: none;
		}

		// hide the '|' svg and display the '+' svg
		&:hover {
			cursor: pointer;

			.symbol {
				display: none;
			}
			.on_hover {
				display: block;
			}

			a {
				color: $color__text-menu-main-hover;
			}
		}

		a {
			font-family: $font__secondary;
			font-size: 1.1rem;
			transition: all 0.3s ease 0s;
			color: #6e7a8b;
		}

		padding: 30px 0px;

		.title {
			padding-top: 20px;
			text-transform: uppercase;
		}
	}

	// Large devices (desktops, 992px and up)
	@media (min-width: 992px) {
		// on bigger resolutions, we want the services laid out in a row.

		flex-direction: row;

		.service {
			padding: 0px;
		}
	}
}
